body{

}
.card{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 25%;
  box-shadow: 8px 4px 4px 0 solid black;
}